[push]
  autoSetupRemote = true
[diff "sopsdiffer"]
  textconv = sops -d --config /dev/null
[init]
  defaultBranch = main
[user]
  email = ava.gaiety@revzilla.com
  name = Ava Gaiety W.
[alias]
  start = "!ticket_new() { git switch -C ava-gaiety-comoto/$1;}; ticket_new"
  ticket = "!ticket() { git switch $(git branch | grep -iF $1); }; ticket"
  update = "!update() { git fetch && git merge master --no-edit; }; update"
